In [1]:
# Q.1 List & its default functions

In [2]:
lst = ["Galaxy", "Universe", [9, 99, 999], "Solar System", 1, 12]

In [13]:
lst.append("Milky Way")

In [14]:
lst

['Galaxy', 'Universe', [9, 99, 999], 'Solar System', 1, 12, 'Milky Way']

In [21]:
lst.reverse()

In [22]:
lst

['Milky Way', 12, 1, 'Solar System', [9, 99, 999], 'Universe', 'Galaxy']

In [23]:
lst.pop()

'Galaxy'

In [24]:
lst

['Milky Way', 12, 1, 'Solar System', [9, 99, 999], 'Universe']

In [28]:
lst.remove(12)

In [29]:
lst

['Milky Way', 1, 'Solar System', [9, 99, 999], 'Universe']

In [37]:
lst1 = ['Planets', 'Comets']

In [38]:
lst.extend(lst1)

In [39]:
lst

['Milky Way', 1, 'Solar System', [9, 99, 999], 'Universe', 'Planets', 'Comets']

In [67]:
# Q.2 Dictionaries & its default functions

In [71]:
dit = {"Day : Monday", "Year : 2020", "Time : Noon", "Subject : Maths"}

In [72]:
dit

{'Day : Monday', 'Subject : Maths', 'Time : Noon', 'Year : 2020'}

In [85]:
dit.add("Topic: Probability")

In [86]:
dit

{'Calculations',
 'Day : Monday',
 'Subject : Maths',
 'Time : Noon',
 'Topic: Probability',
 'Year : 2020'}

In [88]:
dit.remove("Calculations")

In [89]:
dit

{'Day : Monday',
 'Subject : Maths',
 'Time : Noon',
 'Topic: Probability',
 'Year : 2020'}

In [98]:
dict = {'Ceiling' : 'White', 'Floor' : 'Marble', 'Walls' : 'Blue', 'Accent' : 'Glass'}

In [99]:
dict.get('Walls')

'Blue'

In [128]:
print('Total price : Cost of', dict.get('Ceiling'), dict.get('Floor'), dict.get('Walls'), dict.get('Accent'), 'all materials')

Total price : Cost of White Marble Blue Glass all materials

In [134]:
dict.keys()

dict_keys(['Ceiling', 'Floor', 'Walls', 'Accent'])

In [136]:
dict.values()

dict_values(['White', 'Marble', 'Blue', 'Glass'])

In [65]:
# Q.3.SETS & its default functions

In [137]:
st = {"Million", "Stars", "In the Galaxy are", 12,10,58,54,101}

In [138]:
st

{10, 101, 12, 54, 58, 'In the Galaxy are', 'Million', 'Stars'}

In [146]:
st1 = {"Neutron", "Star Collision", "Million", 58, 32, 60}

In [147]:
st1

{32, 58, 60, 'Million', 'Neutron', 'Star Collision'}

In [150]:
st1.issubset(st)

False

In [176]:
st.isdisjoint(st1)

True

In [152]:
st.difference(st1)

{10, 101, 12, 54, 'In the Galaxy are', 'Stars'}

In [153]:
st1.difference(st)

{32, 60, 'Neutron', 'Star Collision'}

In [174]:
st.pop()

101

In [175]:
st

{10, 12, 54, 'In the Galaxy are', 'Stars'}

In [66]:
# Q.4. TUPLE & explore default methods

In [195]:
tup = ("flora", "fauna", "wildlife", "reef", 12345, 72, 2, 2, 5, 5, 7, 8, 1)

In [196]:
tup

('flora', 'fauna', 'wildlife', 'reef', 12345, 72, 2, 2, 5, 5, 7, 8, 1)

In [184]:
tup.count(72)

1

In [191]:
tup.index('fauna')

1

In [197]:
tup.index(2)

6

In [198]:
tup.count(5)

2

In [205]:
tup.index('reef')

3

In [ ]:
# Q. 5. STRINGS & explore default methods

In [207]:
furniture = ("table","chair","desk","lamp")

In [208]:
print(furniture)

('table', 'chair', 'desk', 'lamp')

In [211]:
print(furniture[2:10])

('desk', 'lamp')

In [212]:
 print(furniture[-3])

chair

In [219]:
print(furniture[1:3])

('chair', 'desk')

In [226]:
print(furniture[::-1])

('lamp', 'desk', 'chair', 'table')

In [238]:
str.capitalize('furniture')

'Furniture'